<!DOCTYPE css>
body {font-size: 10pt;font-size:Verdana, Geneva, arial, helvetica, sans-serif; color: black; line-height: 14pt; padding-left: 5pt; padding-right: 5pt; padding-top:5pt;}
h1{ font: 14pt Verdana, Geneva, Arial, Helvetica, sansserif; font-weight: bold; color: #593d87;}
p.subheader{font-weight: bold; color: #593d87;}
img{padding: 3pt; float: right; height: 300px; width: 300px;}
a{text-decoration: none;}
a:link, a:visited{color: #8094d6;}
a:hovor, a:active {color: #FF9933;}
div.footer {font-size: 9pt; font-style: itallic; text-align: justify; padding-top: 30pt;}
